
.grid-container2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "name name"
    "picture storyline"
    "picture actors"
    "picture genre"
    "picture year"
    "review review"
    "review review"
    ;
    
} 

.year{
    grid-area: year;
    text-align: left;
}

.genre{
    grid-area: genre;
    text-align: left;
}

.actors{
    grid-area: actors;
    text-align: left;
}

.moviePicture{
    grid-area: picture;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;

}

.movieName{
    grid-area: name;
}

.storyline{
    grid-area: storyline;
    text-align: left;
    margin-right: 100px;
}

.review{
    grid-area: review;
    align-self: center;
} 