
.grid-container2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "name name"
    "picture storyline"
    "picture actors"
    "picture genre"
    "picture year"
    "review review"
    "review review"
    ;
    
} 

.BTN{
    background-color: #fdfdfd; 
  border: 1px solid #d81f27;
  margin: 8px;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  
  font-size: 0.8rem;
  transition-duration: 0.4s;
  float: left;
}

.BTN:hover{
    background-color: #d81f27; 
    color: white;
    
}

@media only screen and (max-width: 700px) {
    .grid-container2{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-areas: 
        "name"
        "picture "
        "storyline"
        "actors"
        "genre"
        "year"
        "review"
        "review"
        ;
    } 

    .moviePicture{
        margin: 0 auto;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        
        justify-self: center;
    }
    
  }

.reviewCard{
    
    margin: 0 auto;
    justify-content: center;
    outline-style: solid;
    outline-color: #d81f27;
    width: 30%;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}



.year{
    grid-area: year;
    text-align: left;
}

.genre{
    grid-area: genre;
    text-align: left;
}

.actors{
    grid-area: actors;
    text-align: left;
}

.moviePicture{
    grid-area: picture;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;

}

.movieName{
    grid-area: name;
}

.storyline{
    grid-area: storyline;
    text-align: left;
    margin-right: 100px;
}

.review{
    grid-area: review;
    align-self: center;
} 