.grid-container {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "title title title"
    "underitle underitle underitle"
    "pagination pagination pagination";
}

.grid-item {
}

svg {
  align-content: center;
  justify-self: center;
}

.title {
  grid-area: title;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.underTitle {
  grid-area: underitle;
  color: #d81f27;
}

.pagination {
  grid-area: pagination;
  justify-self: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: white;
}

h1 {
  color: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
